html, body { height: 100vh }

body { 
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100%;
  width: 100%;
  padding: 8px;
  gap: 8px;
  box-sizing: border-box; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 4fr 0.5fr;
  grid-template-areas:
  "header header login"
  "main main main"
  "footer footer footer";
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.login {
  grid-area: login;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: grey;
  font-size: 12px;
}

.login.form {
  text-align: center; 
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.main {
  grid-area: main;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  background-color: red;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}


/*input[type=button], input[type=submit], input[type=reset] {
  background-color: white;
  color: black;
  padding: 8px;
  margin: 8px 1px;
  cursor: pointer;
}